{% extends "visualize/base.html" %}

{% block content %}
{% load nvd3_tags %}
<head>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    {% include_chart_jscss %}
    {% load_chart charttype chartdata chartcontainer extra %}
</head>

<body>
    <div class = "container"><h2>Graph of Experimental Results
       <!-- {%for g in gene_symbols%} {{g}}, {% endfor %}  -->
      <br><small>Comparison of: </small></h2>
    </div>
    <div class="container"> {% include_container chartcontainer 300 1140 %} </div>
</body>
{% endblock %}
